.kesif{
  margin-left: 800px;
  margin-top:  10px;
  position: absolute;
}
.zindan{
  margin-left: 800px;
  margin-top:  60px;
  position: absolute;
  width: 95px;
  
}
.arena{
  margin-left: 1000px;
  margin-top:  10px;
  position: absolute;
  
}
.sirk{
  margin-left: 1000px;
  margin-top:  60px;
  position:absolute
  
}